<a href="https://colab.research.google.com/github/KingshukDatta/self_study_python/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Statement:
What we write in a code is called a statement. Generally we write different statements in different lines but we can write different kinds of statements in a line by simply using ; at the end of each statement

# print()-function:
print() function by default adds a new line after every execution. But if we want to type something at the same line then we can use “end” inside the parameter of print.

In [ ]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

# Variables:
In Python, Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

***Casting:*** If a variable has been specified with a datatype then it is called “Casting”.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

# type() function:
type() function is used to know the datatype of a variable. This function returns the datatype.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Variable Names:
Rules for Python variables:
A variable name must start with a letter or the underscore character

*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)
*   A variable name cannot be any of the Python keywords.

Legal Variable Names:
```
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
```
Illegal Varable Names:
```
2myvar = "John"
my-var = "John"
my var = "John"
```

# Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called ***unpacking***.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Global Variables
Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

If we create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome" # Global Variable

def myfunc():
  x = "fantastic" # Local Variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:
```
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
```

In [ ]:
my_tuple = (1, 2, 3)
my_range = range(5)
my_dict = {"name": "Alice", "age": 30}
my_set = {1, 2, 3}
my_frozenset = frozenset([1, 2, 3])
my_bytes = b"hello"
my_bytearray = bytearray(b"world")
my_none = None

print(f"my_tuple is of type: {type(my_tuple)}")
print(f"my_range is of type: {type(my_range)}")
print(f"my_dict is of type: {type(my_dict)}")
print(f"my_set is of type: {type(my_set)}")
print(f"my_frozenset is of type: {type(my_frozenset)}")
print(f"my_bytes is of type: {type(my_bytes)}")
print(f"my_bytearray is of type: {type(my_bytearray)}")
print(f"my_none is of type: {type(my_none)}")

my_tuple is of type: <class 'tuple'>
my_range is of type: <class 'range'>
my_dict is of type: <class 'dict'>
my_set is of type: <class 'set'>
my_frozenset is of type: <class 'frozenset'>
my_bytes is of type: <class 'bytes'>
my_bytearray is of type: <class 'bytearray'>
my_none is of type: <class 'NoneType'>

A **frozenset** in Python is essentially a "locked" version of a regular set.

Just like a tuple is an immutable (unchangeable) version of a list, a frozenset is an immutable version of a set.

Key Characteristics
* Immutable: Once you create it, you cannot add, remove, or update elements.

* Unique Elements: Like a normal set, it removes duplicates automatically.

* Unordered: The items have no fixed index or order.

* Hashable: Because it never changes, Python can assign it a unique "hash" value. This is the most important feature.

In [ ]:
# Creating a normal set
normal_set = {1, 2, 3}

# Creating a frozenset
frozen = frozenset([1, 2, 3, 3, 2])

print(frozen)
# Output: frozenset({1, 2, 3})  <-- Duplicates removed automatically

frozenset({1, 2, 3})

Why do we need it? (The "Hashable" Logic)
This is a core Computer Science concept.

* Rule: You cannot use "mutable" items (like lists or normal sets) as keys in a dictionary, because if the item changes later, the dictionary breaks.

* Solution: Since frozenset is immutable, you can use it as a dictionary key.

In [ ]:
# ❌ THIS WILL FAIL (TypeError)
# locations = {
#     {"Lat", "Long"}: "New York"
# }

# ✅ THIS WORKS
locations = {
    frozenset({"Lat", "Long"}): "New York",
    frozenset({"X", "Y"}): "Graph Point"
}

print(locations[frozenset({"Lat", "Long"})])
# Output: New York

New York

Float can also be scientific numbers with an **"e"** to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex numbers are written with a **"j"** as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# **Note:**
we can not convert Complex to Int or float because, colplex datatype has 2 parts, real and complex.

Python does not know which part you want to keep:

1.   Do you want the imaginary number?
2.   Do you want the magnitude (length) of the number?
3.   Do you want just the real number?

Because this is ambiguous, Python refuses to guess and raises an error instead.

```
z = 3 + 4j
# print(int(z))  
# ❌ ERROR: TypeError: can't convert complex to int
```
But we can convert by telling which part is needed to be changed.

# Converting only the Real part
You can access the real part using .real, which gives you a float. You can then cast that to an int.

In [ ]:
z = 3 + 4j
real_part = int(z.real)
print(real_part)
# Output: 3

3

# Converting only the Imaginary part
You can access the imaginary part using .imag.

In [ ]:
z = 3 + 4j
imag_part = int(z.imag)
print(imag_part)
# Output: 4

4

# Converting the Magnitude (Absolute Value)
In fields like Signal Processing or Electrical Engineering (very relevant to VLSI), you often care about the "magnitude" (or strength) of the complex signal.$$|z| = \sqrt{a^2 + b^2}$$

In [ ]:
z = 3 + 4j
magnitude = abs(z)      # Result is 5.0 (Float)
final_int = int(magnitude)
print(final_int)
# Output: 5

5

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 10))

4

# Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# F-Strings
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
# txt = "We are the so-called "Vikings" from the north." - wrong
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

![Escape character table.png]()

#Boolean
##Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [1]:
# The following will return true.
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

#Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [2]:
# The Followings are false.
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Python also has many built-in functions that return a boolean value, like the ***isinstance()*** function, which can be used to determine if an object is of a certain data type:

In [3]:
x = 200
# Checks if x is int or not and returns bool value
print(isinstance(x, int))

True